.dark{
    background-color:black;
    color:white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.light{
    background-color:white;
    color:black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}